<h2>スイーツ作りで余りがちな食材</h2>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">

      <thead class="thead-light">
        <th>食材</th>
      </thead>

      <tbody>
        <table>
            <ul>
                <% @leftovers.each do |ingredient| %>
                    <li><%= ingredient.name %></li>
                    <p><%=link_to "→簡単消費レシピ", plusmenu_path(ingredient.id) %></p>
                <% end %>
            </ul>
        </table>
      </tbody>
    </table>
  </div>
</div>
